<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
</head>
<body>
    <h2>Clients</h2>
    <table class="clients">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Orders amount</th>
                <th>Registry date</th>
                <th>Comment</th>
                <th>Create order</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="client : ${clients}" th:object=${client}>
                <td th:text="*{id}">1</td>
                <td th:text="*{person.name}">John Doe</td>
                <td th:text="*{address}">John Doe</td>
                <td th:text="*{phone}">John Doe</td>
                <td th:text="*{email}">John Doe</td>
                <td th:text="*{ordersAmount}">John Doe</td>
                <td th:text="*{registryDate}">John Doe</td>
                <td th:text="*{comment}">John Doe</td>
                <td>
                    <a th:href="clients">Create order</a>
                    <!--<a th:href="@{/edit(id=*{id})}">Edit</a>-->
                </td>
                <td>
                    <a th:href="clients">Edit</a>
                    <!--<a th:href="@{/edit(id=*{id})}">Edit</a>-->
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="createClient">New client</a>
</body>
</html>